@import "@shoelace-style/shoelace/dist/themes/light.css";
@import "@shoelace-style/shoelace/dist/themes/dark.css";

:root {
  --cell-header-height: calc(
    var(--sl-line-height-normal) * 1rem + var(--sl-spacing-x-small) * 2 +
      var(--sl-panel-border-width) * 2
  );
  --cell-footer-height: calc(var(--cell-header-height) + 4px);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: var(--sl-line-height-normal);
}

body {
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--sl-font-sans);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--sl-color-neutral-1000);
  background-color: var(--sl-color-neutral-0);
}
